* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #8EC5FC;
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    height: 500px;
    perspective: 800px;
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-image: URL(./assets/moon.jpg);
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.back {
    /*background-color: #3a3a3a;*/
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/moon.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
